/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2016, 12:02:14 PM
    Author     : josza
*/


.rolDropdown{
    width: 100%
}

.submit-btn-div{
    text-align: center;
}

.panel-body{
    width: 100%;
}

.form-control.inputField{
    background-color: #f2f2f2;
    color: black;
}

.col-md-6.col-sm-12.profile-column{
    width: 40%;
    margin: 0 auto;
}

.btn.btn-primary.submitBtn{
    width: 60%;
}

.form-group.Rol-input-div{
    margin-top: 5%;
    margin-bottom: 4.8%;
}

.submit-btn-div{
    text-align: center;
}

.panel-body{
    width: 100%;
}

