<div class="bodyMainContainer">
    <!--<h1 class="title">Dossiers</h1>-->
    <h1>Opdrachtgever overzicht</h1>
    <h3>Klik op een naam om de opdrachtgever te bewerken</h3>
    <button class="hubButton" ng-if="theRole < 3" style="float: right; margin-left: 5px;" type="button" class="btn btn-default btn-sm terug"
            ng-click="gotoClientAdd()">
            Opdrachtgever toevoegen
    </button>
    <p>&nbsp; 
    <form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoeken">
        </div>
    </form>
        <table ng-show="!loading" class="table hover-table">
            <thead>
                <th>Opdrachtgever</th>
                <th>Naam contactp.</th>
                <th>Telefoonnummer</th>
                <th>Verwijder</th>
            </thead>
            <tbody>
                <tr class="dossier-row" dir-paginate="client in clients | itemsPerPage:12 | filterAll:search"  ng-hide="">
                        <td ng-click="gotoClientEdit(client.id)">{{ client.naam }}</td>
                        <td>{{ client.contactpersoonnaam }}</td>
                        <td>{{ client.telefoonnummer }}</td>
                        <td> 
                            <button type="button" class="btn btn-default btn-sm" 
                                ng-click="removeClient(client.id)">
                                <span class="glyphicon glyphicon-trash"></span> 
                        </td>
                </tr>
            </tbody>
        </table>

    <div ng-show="!loading" class="tablecontrols">
        <dir-pagination-controls
           max-size="5"
           direction-links="true"
           boundary-links="true" >
        </dir-pagination-controls>
    </div>
    <div class="Spacer"> </div>
</div>
