<div class = "bodyMainContainer">
    <h1 class="title">Opdrachtgever Bewerken

        <button type="button" class="btn btn-default btn-sm terug"
                ng-click="gotoClients()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Terug
        </button></h1>

    <div class="panel panel-default">
        <div id="formDingus" class="row">

            <form name="registrationForm" class="panel-body" novalidate>
                <div class="col-md-6 col-sm-12 profile-column">

                    <div class="form-group">
                        <label for="voornaam" class="inputfield-title">Naam*</label>
                        <input type="text" id="voornaam" class="form-control inputField" ng-model="theClient.naam" placeholder="Verzekeringsmaatschappij naam" ng-required="true" />
                    </div>
                    <div class="form-group">
                        <label for="contact" class="inputfield-title">Contactpersoon naam</label>
                        <input id="contact" type="text" class="form-control inputField" ng-model="theClient.contactpersoonnaam" placeholder="Bijv. Jan Jaap" ng-required="false" />
                    </div>
                    <div class="form-group">
                        <label for="telefoonnummer" class="inputfield-title">Telefoonnummer</label>
                        <input id="telefoonnummer" type="text" class="form-control inputField" ng-model="theClient.telefoonnummer" placeholder="Bijv. 0612345678" ng-required="false" />
                    </div>

                    <button type="submit" class="btn btn-success" ng-disabled="registrationForm.$invalid" ng-click="updateClient()">Bewerk</button>

                </div>

                <div class="col-md-6 col-sm-12 profile-column">

                </div>
            </form>
        </div>
    </div>
</div>