<div class="bodyMainContainer" align="center">
    <!--<h1 class="title">Dossiers</h1>-->
    <h1>Schade Overzicht</h1>
    <h4>Klik op de naam van een schade om hem aan te passen</h4>
    <p>&nbsp;
        <button class="hubButton" ng-if="theRole < 3" style="float: right; margin-left: 5px;" type="button" class="btn btn-default btn-sm terug"
                ng-click="gotoDamageAdd()">
            Soort schade Aanmaken
        </button>
    <div style="margin-top:5%;"align="center" >
        <div style="float:left; margin-left: 27%; padding: 10px;" >
            <table ng-show="!loading" class="table hover-table">
                <thead>
                <th>Property</th>
                </thead>
                <tbody>
                <tr class="dossier-row"
                    dir-paginate="property in soortenProperty | itemsPerPage:12 | filterAll:search"
                    ng-hide="">
                    <td ng-click="gotoDamageEdit(property.id)" class="table_file_info">{{ property.naam }}</td>
                    <td> 
                            <button type="button" class="btn btn-default btn-sm" 
                                ng-click="remove(property.id)">
                                <span class="glyphicon glyphicon-trash"></span> 
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="float:left; padding: 10px;">
            <table ng-show="!loading" class="table hover-table">
                <thead>
                <th>Mobility</th>
                </thead>
                <tbody>
                <tr class="dossier-row"
                    dir-paginate="mobility in soortenMobility | itemsPerPage:12 | filterAll:search"
                    ng-hide="">
                <td ng-click="gotoDamageEdit(mobility.id)" class="table_file_info">{{ mobility.naam }}</td>
                        <td> 
                            <button type="button" class="btn btn-default btn-sm" 
                                ng-click="remove(mobility.id)">
                                <span class="glyphicon glyphicon-trash"></span> 
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="float:left; padding: 10px;">
            <table ng-show="!loading" class="table hover-table">
                <thead>
                <th>Vitality</th>
                </thead>
                <tbody>
                <tr class="dossier-row"
                    dir-paginate="vitality in soortenVitality | itemsPerPage:12 | filterAll:search"
                    ng-hide="">

                <td ng-click="gotoDamageEdit(vitality.id)" class="table_file_info">{{ vitality.naam }}</td>
                <td> 
                            <button type="button" class="btn btn-default btn-sm" 
                                ng-click="remove(vitality.id)">
                                <span class="glyphicon glyphicon-trash"></span> 
                </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="Spacer"> </div>
</div>
