<div class = "bodyMainContainer">
    <h1 class="title">Schade Toevoegen
        <button type="button" class="btn btn-default btn-sm terug"
                ng-click="gotoDamage()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Terug
        </button></h1>
    <div class="panel panel-default">
        <div id="formDingus" class="row">

            <form name="registrationForm" class="panel-body" novalidate >
                <div class="col-md-6 col-sm-12 profile-column">

                    <div id="qualification" style="padding: 3px 15px 0px 0px;"  >
                        <div class="checkbox">
                            <label><input type="radio" name="optradio" value="1" ng-model="checked"> </label>
                            Property
                        </div>
                        <div class="checkbox">
                            <label><input type="radio" name="optradio" value="2" ng-model="checked"></label>
                            Mobility
                        </div>
                        <div class="checkbox">
                            <label><input type="radio" name="optradio" value="3" ng-model="checked"></label>
                            Vitality
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="voornaam" class="inputfield-title">Naam*</label>
                        <input type="text" id="voornaam" class="form-control inputField" ng-model="naam"
                               placeholder="Schade naam" ng-required="true" />
                    </div>


                    <button type="submit" class="btn btn-success" ng-disabled="registrationForm.$invalid || !checked"
                            ng-click="addDamage()">Toevoegen</button>

                </div>

                <div class="col-md-6 col-sm-12 profile-column">

                </div>
            </form>
        </div>
    </div>
</div>