<div class = "bodyMainContainer">
    <h1 class="title">Schade Bewerken
        <button type="button" class="btn btn-default btn-sm terug" ng-click="gotoDamage()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Terug
        </button></h1>

    <div class="panel panel-default">
        <div id="formDingus" class="row">

            <form name="registrationForm" class="panel-body" ng-submit="editdamage()" novalidate>
                <div class="col-md-6 col-sm-12 profile-column">
                    <div class="form-group">
                        <label for="schadenaam" class="inputfield-title">Schade Naam</label>
                        <input type="text" id="schadenaam" class="form-control inputField" ng-model="schade.naam"
                               placeholder="Schade naam" ng-required="true" />
                    </div>

                    <div class="submit-btn-div">
                        <input type="submit" class="btn btn-primary submitBtn" value="Bewerken"
                               ng-disabled="registrationForm.$invalid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="Spacer"> </div>
</div>