<div class="bodyMainContainer">
    <!--<h1 class="title">Dossiers</h1>-->
    <h1>Dossier Overzicht</h1>
    <button class="hubButton" style="float: right; margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoDossierAdd()"> 
             Dossier Aanmaken
    </button>
    <button class="hubButton" ng-if="theRole < 2" style="float: right; margin-left: 5px;" type="button" class="btn btn-default btn-sm terug"
            ng-click="gotoClients()">
            Opdrachtgevers
    </button>
    <button class="hubButton" ng-if="theRole < 2" style="float: right; margin-left: 5px;" type="button" class="btn btn-default btn-sm terug"
            ng-click="gotoDamage()">
            Soort schade
    </button>
    <p>&nbsp; 
    <form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoeken">
        </div>
    </form>
        <table ng-show="!loading" class="table hover-table">
            <thead>
                <th ng-click="orderByField='nummer'; reverseSort = !reverseSort" >Dossiernummer</th>
                <th>Datum van toevoeging</th>
                <th>Laatst aangepast</th>
                <th ng-click="orderByField='status.beschrijving'; reverseSort = !reverseSort">Status</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-click="gotoDossierView(file.id)" class="dossier-row" dir-paginate="file in files | itemsPerPage:12 | filterAll:search | orderBy:orderByField:reverseSort"  ng-hide="file.status.id == 4">

                        <td>{{ file.nummer }}</td>
                        <td>{{ file.opdrachtdatum }}</td>
                        <td>{{ file.nieuw_registratiedatum }}</td>
                        <td>{{ file.status.beschrijving }}</td>

                </tr>
            </tbody>
        </table>

    <div ng-show="!loading" class="tablecontrols">
        <dir-pagination-controls
           max-size="5"
           direction-links="true"
           boundary-links="true" >
        </dir-pagination-controls>
    </div>
    <div class="Spacer"> </div>
</div>
