
<div class = "bodyMainContainer">
<h1></h1>
    <div class="panel panel-default">
        <div class="files_info_table">
            <table class="table table-file-information">
<tbody>
                        <tr>
                            <td class="table_file_title">Dossiernummer</td>
                            <td class="table_file_info"><input type="text" ng-model="files.nummer" value="{{ files.nummer }}"></td>
                            <td class="table_file_title">Dossiertype afdeling</td>
                            <td class="table_file_info">
                                {{ files.afdelingTxt }}
                            </td>
                        </tr>
                        <tr>
                            <td class="table_file_title">Dossierstatus</td>
                            <td class="table_file_info">
                                <select ng-model="states[0].selected" ng-options="choice.beschrijving for choice in states[0].states track by choice.id"> 
                            </td>
                            <td class="table_file_title">Schade nummer</td>
                            <td class="table_file_info"><input type="text" ng-model="files.schadenummer"></td>
                        </tr> 
                        <tr>
                            <td class="table_file_title">Opdrachtdatum</td>
                            <td class="table_file_info"><input type="text" ng-model="files.opdrachtdatum"></td>
                            <td class="table_file_title mobility">Naam verzekerde</td>
                            <td class="table_file_title property">Plaats</td>
                            <td class="table_file_title vitality">Slachtoffernaam</td>
                            <td class="">
                                 <input class="mobility" type="text" ng-model="files.afdeling.naam_verzekerde">
                                 <input class="property" type="text" ng-model="files.afdeling.property_plaats">
                                 <input class="vitality" type="text" ng-model="files.afdeling.vitality_slachtoffernaam">
                            </td>             
                        </tr>
                        <tr>
                            <td class="table_file_title">Polisnummer</td>
                            <td class="table_file_info"><input type="text" ng-model="files.polisnummer"></td>
                            <td class="table_file_title mobility">Postcode</td>
                            <td class="table_file_title property">Adres</td>
                            <td class="table_file_title vitality">Beschrijving</td>
                            <td class="">
                                 <input class="mobility" type="text" ng-model="files.afdeling.postcode">
                                 <input class="property" type="text" ng-model="files.afdeling.property_adres">
                                 <input class="vitality" type="text" ng-model="files.afdeling.vitality_beschrijving">
                            </td>
                        </tr>
                        <tr>
                            <td></td><td></td>
                            <td class="table_file_title mobility">Huisnummer</td>
                            <td class="table_file_title property">Huisnummer</td>
                            <td class="table_file_title vitality">Postcode</td>
                            <td class="">
                                 <input class="mobility" type="text" ng-model="files.afdeling.huisnr">
                                 <input class="property" type="text" ng-model="files.afdeling.property_huisnr">
                                 <input class="vitality" type="text" ng-model="files.afdeling.postcode">
                            </td>
                        </tr>
                        <tr>
                            <td class="table_file_title">- Expertnaam</td>
                            <td class="table_file_info"><input type="text" ng-model="files.expert_naam"> </td>
                            <td class="table_file_title mobility">Kenteken</td>
                            <td class="table_file_title property">Toevoeging</td>
                            <td class="table_file_title vitality">Huisnummer</td>
                            <td class="">
                            <input class="mobility" type="text" ng-model="files.afdeling.mobility_kenteken">
                            <input class="vitality" type="text" ng-model="files.afdeling.huisnr">
                            <input class="property" type="text" ng-model="files.afdeling.property_toevoeging">
                            </td>
                        </tr>
                        <tr>
                            <td class="table_file_title">- Expert tel.</td>
                            <td class="table_file_info"><input type="text" ng-model="files.expert_telefoon"></td>
                            <td class="table_file_title property">Type</td>
                            <td class="">
                            <input class="property" type="text" ng-model="files.afdeling.property_type">
                            </td>
                        </tr>
                        <tr>
                            <td class="table_file_title">- Expert E-mail</td>
                            <td class="table_file_info"><input type="text" ng-model="files.expert_mail"></td>
                            <td class="table_file_title property">Postcode</td>
                            <td class="">
                            <input class="property" type="text" ng-model="files.afdeling.postcode">
                            </td>
                        </tr>
                        <tr>
                            <td></td><td></td>
                            <td class="table_file_title property">Naam verzekerde</td>
                            <td class="">
                            <input class="property" type="text" ng-model="files.afdeling.naam_verzekerde">
                            </td>
                        </tr>
                        <tr>
                            <td class="table_file_title">Opdrachtgever</td>
                            <td class="table_file_info">                                    
                                <select ng-model="clients[0].selected" ng-options="choice.naam for choice in clients[0].clients track by choice.id"> 
                                </select> 
                            </td>
                            <td class="table_file_title">Kwalificatie</td>
                            <td class="table_file_info"><input type="text" ng-model="files.kwalificatie"></td>
                        </tr>
                        <tr>
                            <td class="table_file_title">Opdrachtgever tel.</td>
                            <td class="table_file_info">
                                <input type="text" ng-model="clients[0].selected.telefoonnummer">
                            </td>
                            <td class="table_file_title">Forensic</td>
                            <td class="table_file_info">                                    
                                <select ng-model="forensicOptions.selected" onChange="changeForensic(this.value)" ng-options="choice.name for choice in forensicOptions.options track by choice.value"> 
                                </select> 
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="table_file_title forensic">Forensic dossiernummer</td>
                            <td>
                            <input class="forensic" type="text" ng-model="files.forensic.dossiernummer">
                            </td>
                        </tr>
                        <tr>
                            <td class="table_file_title">Soort schade</td>
                            <td class="table_file_info">
                            <select ng-model="soortSchade[0].selected" ng-options="choice.naam for choice in soortSchade[0].soortSchade track by choice.id"> 
                                </select>
                            </td>
                            <td class="table_file_title forensic">Onderzoeker</td>
                            <td>
                                <select class="forensic" ng-model="forensics.selected" ng-options="choice.achternaam + ', ' + choice.voornaam for choice in forensics.forensics track by choice.id"> 
                                </select> 
                            </td>
                        </tr>
                        <tr>
                            <td></td><td></td>
                            <td class="table_file_title forensic">Factuurbedrag</td>
                            <td>
                            <input class="forensic" type="text" ng-model="files.forensic.factuur_bedrag">
                            </td>
                        </tr>
                        <tr>
                            <td></td><td></td>
                            <td class="table_file_title forensic">Besparing</td>
                            <td>
                            <input class="forensic" type="text" ng-model="files.forensic.besparing">
                            </td>
                        </tr>
                        <tr>
                            <td></td><td></td>
                            
                        </tr>
                    </tbody>
            </table>
            <input type="hidden" id="switcher" value="{{files.afdeling.type}}"/>
            <!--//TODO Change button-->
            <!--<input type="submit" class="btn btn-primary submitBtn" value="Bewerken" ng-disabled="registrationForm.$invalid" disabled="disabled">-->
            <input type="submit" class="btn btn-primary submitBtn" ng-click="updateMe()" value="Bewerken">
        </div>
    </div>
</div>
<script>
    var mobility = document.getElementsByClassName("mobility");
    var property = document.getElementsByClassName("property");
    var vitality = document.getElementsByClassName("vitality");
    var forensic = document.getElementsByClassName("forensic");
            hideMobility();
            hideProperty();
            hideVitality();
    function changeForensic(option){
        switch(option){
            case '0':
                hideForensic();
                break;
            case '1':
                showForensic();
                break;
            default:
                alert('don\'t start hacking now');
        }
    }
    function changeCSS(option) {
        switch(option){
            case '1':
                showProperty();
                break;
            case "2":
                showMobility();
                break;
            case '3':
                showVitality();
                break;
            default:
                alert('NO, don\'t hack me');
                break;
        }
    }
    function hideForensic() {
         for(var i =0, il = forensic.length;i<il;i++){
            forensic[i].style.display = "none";
        }
    }
    function showForensic() {
        for(var i =0, il = forensic.length;i<il;i++){
            forensic[i].style.display = "block";
        }
    }
    function showMobility() {
        hideProperty();
        hideVitality();
        for(var i =0, il = mobility.length;i<il;i++){
            mobility[i].style.display = "block";
        }
    }
    function hideMobility() {
        for(var i =0, il = mobility.length;i<il;i++){
            mobility[i].style.display = "none";
        }
    }
    function showProperty() {
        hideVitality();
        hideMobility();
        for(var i =0, il = property.length;i<il;i++){
            property[i].style.display = "block";
        }
    }
    function hideProperty() {
        for(var i =0, il = property.length;i<il;i++){
            property[i].style.display = "none";
        }

    }
    function showVitality() {
        hideProperty();
        hideMobility();
        for(var i =0, il = vitality.length;i<il;i++){
            vitality[i].style.display = "block";
        }
    }
    function hideVitality() {
        for(var i =0, il = vitality.length;i<il;i++){
            vitality[i].style.display = "none";
        }
    }
</script>