<div class = "bodyMainContainer">

    <h1 class="title" ng-if="user.tussenvoegsel">{{ user.voornaam }} {{ user.tussenvoegsel }} {{ user.achternaam }}
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfiel()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terug
        </button> 
        <button type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfielEdit(user.id)">
            <span class="glyphicon glyphicon glyphicon-pencil"></span> 
             Bewerk
        </button>
    </h1>

    <h1 class="title" ng-if="!user.tussenvoegsel">{{ user.voornaam }} {{ user.achternaam }}
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" ng-click="gotoDossier()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terug
        </button>
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" ng-click="gotoDossierEdit(files.id)">
            <span class="glyphicon glyphicon glyphicon-pencil"></span> 
             Bewerk
        </button>
    </h1>

    <div class="panel panel-default">
        <div class="files_info_table">
        <table class="table table-file-information">
            <tbody>
                <tr>
                    <td class="table_file_title">Dossiernummer</td>
                    <td class="table_file_info">{{ files.nummer }}</td>
                    <td class="table_file_title">Dossiertype afdeling</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">Mobility</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">Property</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">Vitality</td>
                </tr>
                <tr>
                    <td class="table_file_title">Dossierstatus</td>
                    <td class="table_file_info">
                        {{ files.status.beschrijving }}
                    </td>

                    <td class="table_file_title">Schade nummer</td>
                    <td class="table_file_info">{{ files.schadenummer }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtdatum</td>
                    <td class="table_file_info">{{ files.opdrachtdatum }}</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Postcode</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Plaats</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_title">Slachtoffernaam</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.postcode }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_plaats }}</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">{{ files.afdeling.vitality_slachtoffernaam }}</td>
                    
                </tr>
                <tr>
                    <td class="table_file_title">Polisnummer</td>
                    <td class="table_file_info">{{ files.polisnummer }}</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Huisnummer</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Adres</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_title">Beschrijving</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.huisnr }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_adres }}</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">{{ files.afdeling.vitality_beschrijving }}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Kenteken</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Huisnummer</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.mobility_kenteken }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_huisnr }}{{ files.afdeling.property_toevoeging }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expertnaam</td>
                    <td class="table_file_info">{{ files.expert_naam }} </td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_title">Naam verzekerde</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Postcode</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_title">Postcode</td>
                    <td ng-if="files.afdeling.mobility_kenteken != null" class="table_file_info">{{ files.afdeling.naam_verzekerde }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.postcode }}</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">{{ files.afdeling.postcode }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expert tel.</td>
                    <td class="table_file_info">{{ files.expert_telefoon }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Type</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_title">Huisnummer</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.property_type }}</td>
                    <td ng-if="files.afdeling.vitality_slachtoffernaam != null" class="table_file_info">{{ files.afdeling.huisnr }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">- Expert E-mail</td>
                    <td class="table_file_info">{{ files.expert_mail }}</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_title">Naam verzekerde</td>
                    <td ng-if="files.afdeling.property_adres != null" class="table_file_info">{{ files.afdeling.naam_verzekerde }}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td class="table_file_title">Kwalificatie</td>
                    <td class="table_file_info">{{ files.kwalificatie }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtgever</td>
                    <td class="table_file_info">{{ files.opdrachtgever.naam }}</td>
                </tr>
                <tr>
                    <td class="table_file_title">Opdrachtgever tel.</td>
                    <td class="table_file_info">{{ files.opdrachtgever.telefoonnummer }}</td>
                    <td class="table_file_title">Forensic</td>
                    <td ng-if="files.forensic.id != 0" class="table_file_info">Ja</td>
                    <td ng-if="files.forensic.id == 0" class="table_file_info">Nee</td>
                </tr>
                <tr>
                    <td class="table_file_title">Datum Nieuw Reg.</td>
                    <td class="table_file_info">{{ files.nieuw_registratiedatum }}</td>
                    <td ng-if="files.forensic.id != 0" class="table_file_title">Dossiernummer forensic</td>
                    <td ng-if="files.forensic.id != 0" class="table_file_info">{{ files.forensic.dossiernummer}} </td>
                </tr>
                <tr>
                    <td class="table_file_title">Soort schade</td>
                    <td class="table_file_info">{{ files.schade.naam }}</td>
                    <td ng-if="files.forensic.id != 0" class="table_file_title">Onderzoeker</td>
                    <td ng-if="files.forensic.id != 0" class="table_file_info">{{ files.forensic.onderzoeker_naam}}</td>
                </tr>
                <tr>
                    <td><button class="hubButton" ng-click="goToOpbouw(files.id)">Ga naar dossieropbouw</button></td><td></td>
                    <td ng-if="files.forensic.id != 0" class="table_file_title">Factuur bedrag</td>
                    <td ng-if="files.forensic.id != 0" class="table_file_info">{{ files.forensic.factuur_bedrag}}</td>
                </tr>
                <tr>
                    <td></td><td></td>
                    <td ng-if="files.forensic.id != 0" class="table_file_title">Besparing</td>
                    <td ng-if="files.forensic.id != 0" class="table_file_info">{{ files.forensic.besparing}}</td>
                    
                </tr>
                <tr>
                    <td></td><td></td>
                    
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="Spacer"> </div>
</div>