<div class="bodyMainContainer">
    <!--<h1 class="title">Dossier Archief</h1>-->
    <h1>Dossier Archief</h1>
    <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug"
            ng-click="gotoDossierAdd()">
        Dossier Aanmaken
    </button>
    <p>&nbsp;
    <form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoeken">
        </div>
    </form>

    <table ng-show="!loading" class="table hover-table">
        <thead>
        <th>Dossiernummer</th>
        <th>Datum van toevoeging</th>
        <th>Laatst aangepast</th>
        <th>Status</th>
        <th></th>
        </thead>
        <tbody>

        <tr ng-click="gotoDossierView(file.id)" class="dossier-row" dir-paginate="file in files | itemsPerPage:12" ng-hide="file.status.id != 4">

            <td>{{ file.nummer }}</td>
            <td>{{ file.opdrachtdatum }}</td>
            <td>{{ file.nieuw_registratiedatum }}</td>
            <td>{{ file.status.beschrijving }}</td>

        </tr>

        </tbody>
    </table>

    <div ng-show="!loading" class="tablecontrols">
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>
    </div>
    <div class="Spacer"> </div>
</div>
