<div class="bodyMainContainer">
    <div style="float:left;">
        <button class="hubButton" ng-click="addOpbouw(dossier_id)">Toevoegen opbouw</button>
        
    </div>
    </div>

        <div ng-repeat="o in opbouw">
            
            <div class="opbouwContainer">
                <button style="float:right;" class="hubButton" ng-click="removeOpbouw(o.id)"><span class="glyphicon glyphicon-trash"></span></button>
                <h2>{{o.titel}}</h2>
                <h2>{{o.datum_toevoeging}}</h3>
                <h2>Beschrijving:</h4>
                <p id="omschrijvingTekst">{{o.beschrijving}}</p>
                <h4>{{o.naam}}{{o.extension}}</h4>
                <div ng-if="o.naam != null"><button class="hubButton" ng-click="downloadIt(o.id)" name="download" >Download</button></div>
            </div>
    
<!--        <input id="file" type="file"/>
        <button name="download"  onclick="angular.element(this).scope().test(document.getElementById('file'))">Download</button>
        <input ng-model="tester" ng-click="test2()" type="text"/>-->

</div>