<div class="bodyMainContainer">
    <center>
        <h1>Toevoegen dossieropbouw</h1>
    </center>
            <div class="opbouwContainer">
                <h2>Titel</h2>
                <input type="text" ng-model="titel">
                <h2>Beschrijving:</h4>
                <textarea rows="4" cols="23" ng-model="beschrijving"></textarea>
                <h4>Bestand</h4>
                <input id="file" type="file"/><br/>
                <button class="hubButton" name="download"  onclick="angular.element(this).scope().save(document.getElementById('file'))">Opslaan</button>
            </div>
</div>
<!--        <input id="file" type="file"/>
        
        <input ng-model="tester" ng-click="test2()" type="text"/>-->