<div class="bodyMainContainer">
    <form name="managementForm" class="panel-body" ng-submit="generate()">
    <h1>Management Info 1.0</h1>
    <div style="width:50%;" class="input-group date" data-provide="datepicker">
        <div style="float:left;">
            <h3>Kies begindatum</h3> <br/>
            <p id="dateStart" ></p>
        </div>
        <div style="float:right;">
            <h3>Kies einddatum</h3> <br/>
            <p id="dateEnd"></p>
        </div>
    </div>

    <!-- Start Content -->
    <!-- Start Row 1 -->
        <div class="row">
        <div class="col-xs-3 col-md-3">
            <h2>Opdrachtgever<label style="padding-left:15px; margin-bottom:0px;"><input id="allClients" type="checkbox" value=""></label></h2>
            <div id="totalClients" style="border: 1px solid grey; padding: 0px 15px 0px 15px;">
                <div class="checkbox" ng-repeat="client in clients"><label><input type="checkbox" value="{{ client.id }}"></label>{{ client.naam }}</div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <h2>Afdeling<label style="padding-left:15px; margin-bottom:0px;"><input id="allDepartments" type="checkbox" value=""></label></h2>
            <div id="totalDepartments" style="border: 1px solid grey; padding: 0px 15px 0px 15px;">
                <div class="checkbox">
                    <label><input type="checkbox" value="1"></label>
                    Property
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="2"></label>
                    Mobility
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="3"></label>
                    Vitality
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-md-3">
            <h2>Kwalificatie</h2>
            <div id="qualification" style="border: 1px solid grey; padding: 3px 15px 0px 0px;">
                <div class="checkbox">
                    <label><input type="radio" name="optradio" value="1"></label>
                    Type 1
                </div>
                <div class="checkbox">
                    <label><input type="radio" name="optradio" value="2"></label>
                    Type 2
                </div>
                <div class="checkbox">
                    <label><input type="radio" name="optradio" value="3"></label>
                    Type 3
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <h2>Forensisch Expert</h2>
            <div id="forensic" style="padding: 0px 15px 5px 0px;">
                <div>
                    <!--<label><input type="checkbox" value=""></label>-->
                    <select ng-model="persoon" ng-options="user.id as user.achternaam + ', ' + user.voornaam for user in users track by user.id"></select>
                </div>
            </div>
            <div style="padding: 5px 15px 0px 0px;">
                <input ng-click="" class="btn btn-default" type="submit" value="Submit">
            </div>

        </div>
    </div>
    <!-- End Row 1 -->
    <!-- Start Row 2 -->
    <div class="row">

        <div class="col-xs-6 col-md-6">


        </div>
        <!--<div class="col-xs-6 col-md-4">-->
            <!--<div style="padding: 60px 15px 0px 15px;">-->
                <!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label><input id="cashAmount" type="checkbox" value=""></label>&ndash;&gt;-->
                    <!--&lt;!&ndash;Factuurbedrag&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label><input id="savedAmount" type="checkbox" value=""></label>&ndash;&gt;-->
                    <!--&lt;!&ndash;Besparing&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
    </div>
    <!-- End Row 2-->

    <!-- End Content -->

    <div class="Spacer"></div>
    </form>
</div>



<script type="text/javascript">
    console.log("This is reallll");
//        $(document).ready(function () {
//            var $j = jQuery.noConflict();
//            $j('.datepicker').datepicker();
//
//        });
</script>