<div class="bodyMainContainer">
    <h1>Management Rapport</h1>
    <br/>
    <p>Resultaten tussen <b>{{ dateStart }}</b> en <b>{{ dateEnd }}</b>.</p>
    <p id="forensicP"></p>

    <div class="row">
        <div class="col-xs-4 col-md-4">
            <h2><b>Gevonden Dossiers</b></h2>
            <h3 style="font-size:100px;">{{ files.length }}</h3>
        </div>
        <div class="col-xs-4 col-md-4">
            <h2><b>Totale Factuurkosten</b></h2>
            <h3 style="font-size:100px;">€ {{ totalInvoice }}</h3>
        </div>
        <div class="col-xs-4 col-md-4">
            <h2><b>Totale Besparing</b></h2>
            <h3 style="font-size:100px;">€ {{ totalSaved }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <h2><b>Status</b></h2>
            <h3>{{ statusNieuw }} Nieuw</h3>
            <h3>{{ statusWachtenEXP }} Wachten EXP</h3>
            <h3>{{ statusWachtenOG }} Wachten OG</h3>
            <h3>{{ statusAfgehandeld }} Afgehandeld</h3>
        </div>
        <div class="col-xs-6 col-md-6">
            <h2><b>Kwalificatie</b></h2>
            <h3>Type 1: {{ kwalificatie1 }}</h3>
            <h3>Type 2: {{ kwalificatie2 }}</h3>
            <h3>Type 3: {{ kwalificatie3 }}</h3>
        </div>
    </div>







<div id="managementToggle" class="btn btn-default">Verbergen / Weergeven</div>
    <table id="managementTable" ng-show="!loading" class="table hover-table">
        <thead>
        <th>Dossiernummer</th>
        <th>Opdracht Datum</th>
        <th>Status</th>
        <th>Forensic Kosten</th>
        <th>Forensic Besparing</th>
        </thead>
        <tbody>

        <!--{{ responses }}-->
        <tr ng-click="gotoDossierView(file.id)" class="dossier-row" dir-paginate="file in files | itemsPerPage:12 | filterAll:search">

            <td>{{ file.nummer }}</td>
            <td>{{ file.opdrachtdatum }}</td>
            <td>{{ file.status.beschrijving }}</td>
            <td>{{ file.forensic.factuur_bedrag }}</td>
            <td>{{ file.forensic.besparing }}</td>
        </tr>
        </tbody>
    </table>

    <div ng-show="!loading" class="tablecontrols">
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>
    </div>
    <div class="Spacer"> </div>
</div>
