<div class = "bodyMainContainer">
    <h1 class="title" ng-if="user.tussenvoegsel">{{ user.voornaam }} {{ user.tussenvoegsel }} {{ user.achternaam }}
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfiel()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terug
        </button> 
        <button type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfielEdit(user.id)">
            <span class="glyphicon glyphicon glyphicon-pencil"></span> 
             Bewerk
        </button></h1>
    <h1 class="title" ng-if="!user.tussenvoegsel">{{ user.voornaam }} {{ user.achternaam }}
        <button style="margin-left: 5px;" type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfiel()">
            <span class="glyphicon glyphicon-chevron-left"></span> 
             Terug
        </button>
        <button type="button" class="btn btn-default btn-sm terug" 
                ng-click="gotoProfielEdit(user.id)">
            <span class="glyphicon glyphicon glyphicon-pencil"></span> 
             Bewerk
        </button></h1>

    <div class="panel panel-default">
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Naam</td>
                    <td>{{ user.voornaam }}</td>
                </tr>
                
                <tr>
                    <td>Achternaam</td>
                    <td>{{ user.tussenvoegsel }} {{ user.achternaam }}<br></td>
                </tr>
                
                <tr>
                    <td>E-Mail</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a><br></td>
                </tr>
                
                <tr>
                    <td>Telefoonnummer</td>
                    <td>{{ user.telnr }}<br></td>
                </tr>

                <tr ng-switch on="user.rol">
                    <td>Rol</td>
                    <td ng-switch-when="1">Administrator</td>
                    <td ng-switch-when="2">Beheerder</td>
                    <td ng-switch-when="3">Gebruiker</td>
                </tr>
            </tbody>
        </table>
    </div>

<!--    <h2 class="title">Tags</h2>
    <div ng-if="user.tagLijst.length > 0" class="panel panel-default" style="padding: 5px 3px;">
        <span class="tag label label-primary" ng-repeat="tag in user.tagLijst">{{ tag.naam }}</span>
    </div>
    <div class="panel panel-default" style="padding: 10px;" ng-if="user.tagLijst.length === 0">Nog geen tags gevonden.</div>

    <h2 class="title">Notities
    <button type="button" class="btn btn-success" 
                ng-click="gotoNotitieToevoegen(user.id)">
            <span class="glyphicon glyphicon-plus"></span> 
            Notitie toevoegen 
        </button>
    </h2>
    <div class="panel panel-default" ng-repeat="notitie in user.notitieLijst">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom:20px;">{{ notitie.datum }} - {{ notitie.titel }}
            <button ng-click="gotoNotitieEdit(notitie.id)" type="button" style="float:right;" class="btn btn-success" 
                ng-click="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" style="float:right; margin-right:10px;" class="btn btn-danger" 
                ng-click="deleteNotitie(notitie.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </h3>
            
        </div>
        <div class="panel-body">
            {{ notitie.inhoud }}
        </div>
    </div>
    <div class="panel panel-default" style="padding: 10px;" ng-if="user.notitieLijst.length === 0">Nog geen notities gevonden.</div>
    
    <h2 class="title">Afspraken
    <button type="button" class="btn btn-success" 
                ng-click="gotoAfspraakToevoegen(user.id)">
            <span class="glyphicon glyphicon-plus"></span> 
            Afspraak toevoegen 
        </button>
    </h2>
    
    
    <div class="panel panel-default" ng-repeat="afspraak in user.afspraakLijst">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom:20px;">{{ afspraak.datum }} - {{ afspraak.location }}
                <button ng-click="gotoAfspraakEdit(afspraak.id)" type="button" style="float:right;" class="btn btn-success" 
                ng-click="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" style="float:right; margin-right:10px;" class="btn btn-danger" 
                ng-click="deleteAfspraak(afspraak.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </h3>
        </div>
        <div class="panel-body">
            {{ afspraak.description }}
        </div>
    </div>
    <div class="panel panel-default" style="padding: 10px;" ng-if="user.afspraakLijst.length === 0">Nog geen afspraken gevonden.</div>
    
    <h2 class="title">Bedrijven 
        <button type="button" class="btn btn-success" 
                ng-click="gotoProfielKoppelen(user.id)">
            <span class="glyphicon glyphicon-link"></span> 
            Koppel Aan Bedrijf 
        </button>
    </h2>
    
    <div class="panel panel-default" ng-repeat="bedrijf in bedrijven | filter:{active:1}">
        <div class="panel-heading">
        <h3 class="panel-title" style="margin-bottom:20px;">{{ bedrijf.naam }} - {{ bedrijf.plaats }}
            
            <button type="button" style="float:right;" class="btn btn-success" 
                ng-click="gotoBedrijfView(bedrijf.id)">
                        <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <button type="button" style="float:right; margin-right:10px;" class="btn btn-danger" 
                ng-click="unkoppelBedrijf(bedrijf.id)">
                        <span class="glyphicon glyphicon-trash"></span>
            </button>
        </h3>
        </div>

        <div class="panel-body">
            <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Telefoonnummer</td>
                    <td>{{ bedrijf.contactpersoonTel }}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{ bedrijf.contactpersoonMail }}</td>
                </tr>
                <tr>
                    <td>Adres</td>
                    <td>{{ bedrijf.adres}}, {{ bedrijf.postcode}}, {{ bedrijf.plaats}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="panel panel-default" style="padding: 10px;" ng-if="bedrijven.length === 0">Nog geen koppeling met bedrijven.</div>
    -->
    <div class="Spacer"> </div>
</div>