<div class="bodyMainContainer">
    <!--<h1 class="title">Profielen</h1>-->
    <h1>Profielen</h1>
    <div class="row">
        <div class="buttons">
            <button type="button" class="btn btn-success pull-right"
                    ng-click="gotoProfielAdd()">
                <span class="glyphicon glyphicon-plus"></span>
                Profiel Toevoegen
            </button>
        </div>
        <div class="buttons center">
            <button ng-class="selectedGroup === 1 ? 'btn btn-primary' : 'btn'" type="button" class="btn"
                    ng-click="setGroup(1)">
                <span class="glyphicon glyphicon-user"></span>
                Administrator
            </button>
            <button ng-class="selectedGroup === 2 ? 'btn btn-primary' : 'btn'" type="button" class="btn"
                    ng-click="setGroup(2)">
                <span class="glyphicon glyphicon-user"></span>
                Beheerder
            </button>
            <button ng-class="selectedGroup === 3 ? 'btn btn-primary' : 'btn'" type="button" class="btn"
                    ng-click="setGroup(3)">
                <span class="glyphicon glyphicon-user"></span>
                Gebruiker
            </button>
            <button ng-class="selectedGroup === 4 ? 'btn btn-primary' : 'btn'" type="button" class="btn"
                    ng-click="setGroup(4)">
                <span class="glyphicon glyphicon-user"></span>
                Archief
            </button>
        </div>
    </div>

    <form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Zoeken">
        </div>
    </form>

    <table ng-show="!loading" class="table hover-table">
        <thead>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Tussenvoegsel</th>
        <th>E-Mail</th>
        <th>Actief</th>
        </thead>
        <tbody>
            <tr ng-click="gotoProfielView(user.id)" class="dossier-row" dir-paginate="user in users | orderBy:sortKey:reverse | filterAll:search | isGroup:selectedGroup | itemsPerPage:12">
                <td>{{ user.voornaam }}</td>
                <td>{{ user.achternaam }}</td>
                <td>{{ user.tussenvoegsel }}</td>
                <td>{{ user.email }}</td>
                <td>                      
                        <button ng-if="user.active" type="button" class="btn btn-default btn-sm" 
                                ng-click="undeleteUser(user.id)">
                            <span class="glyphicon glyphicon-trash"></span> 
                             
                        </button>
                        <button ng-if="!user.active" type="button" class="btn btn-default btn-sm" 
                                ng-click="deleteUser(user.id)">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </td>
            </tr>
        </tbody>
    </table>

    <div ng-show="!loading" class="tablecontrols">
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>

